<a href="https://colab.research.google.com/github/malcolmRite/House-Price-Predictions/blob/master/Data_Cleaning_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the Libraries

In [1]:
#Importing libraries for cleaning
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Training and Test Data

In [3]:
#Using Pandas Library to import training data
train_data = pd.read_csv("drive/My Drive/Train.csv")

#Using Pandas Library to import test data
test_data = pd.read_csv("drive/My Drive/Test.csv")

# Missing Values Code

In [4]:
train_data.head()

        ID join_date sex marital_status  ...  JZ9D J9JW GHYX ECY3
0  4WKQSBB  1/2/2019   F              M  ...     0    0    0    0
1  CP5S02H  1/6/2019   F              M  ...     0    0    0    0
2  2YKDILJ  1/6/2013   M              U  ...     0    0    0    1
3  2S9E81J  1/8/2019   M              M  ...     0    0    0    0
4  BHDYVFT  1/8/2019   M              M  ...     1    1    0    0

[5 rows x 29 columns]

In [22]:
train_data['sex']

0        F
1        F
2        M
3        M
4        M
        ..
29127    F
29128    M
29129    M
29130    M
29131    M
Name: sex, Length: 29132, dtype: object

In [13]:
#Check Missing Values in a Dataset
def NACount(data):
  NaCount = {}
  for feature in data.columns:
    NaCount[feature] = data[feature].isna().sum()

  return NaCount

In [23]:
#Check Unique Values in Training Data
def UniqueCount(data):
  UnCount = {}
  for feature in data.columns:
    UnCount[feature] = data[feature].unique()

  return UnCount

In [10]:
#Run Function on training Data

print(NACount(train_data))

{'ID': 0, 'join_date': 2, 'sex': 0, 'marital_status': 0, 'birth_year': 0, 'branch_code': 0, 'occupation_code': 0, 'occupation_category_code': 0, 'P5DA': 0, 'RIBP': 0, '8NN1': 0, '7POT': 0, '66FJ': 0, 'GYSR': 0, 'SOP4': 0, 'RVSZ': 0, 'PYUQ': 0, 'LJR9': 0, 'N2MW': 0, 'AHXO': 0, 'BSTQ': 0, 'FM3X': 0, 'K6QO': 0, 'QBOL': 0, 'JWFN': 0, 'JZ9D': 0, 'J9JW': 0, 'GHYX': 0, 'ECY3': 0}

In [11]:
#Run Function on test Data

print(NACount(test_data))

{'ID': 0, 'join_date': 1, 'sex': 0, 'marital_status': 0, 'birth_year': 0, 'branch_code': 0, 'occupation_code': 0, 'occupation_category_code': 0, 'P5DA': 0, 'RIBP': 0, '8NN1': 0, '7POT': 0, '66FJ': 0, 'GYSR': 0, 'SOP4': 0, 'RVSZ': 0, 'PYUQ': 0, 'LJR9': 0, 'N2MW': 0, 'AHXO': 0, 'BSTQ': 0, 'FM3X': 0, 'K6QO': 0, 'QBOL': 0, 'JWFN': 0, 'JZ9D': 0, 'J9JW': 0, 'GHYX': 0, 'ECY3': 0}

In [ ]:
#Run Unique Values Function on test Data

print(UniqueCount(test_data))

In [ ]:
#Run  Unique Values Function on training Data

print(UniqueCount(train_data))

In [27]:
#Drop the two records with missing join dates
train_data.dropna(inplace = True)
print(NACount(train_data))

{'ID': 0, 'join_date': 0, 'sex': 0, 'marital_status': 0, 'birth_year': 0, 'branch_code': 0, 'occupation_code': 0, 'occupation_category_code': 0, 'P5DA': 0, 'RIBP': 0, '8NN1': 0, '7POT': 0, '66FJ': 0, 'GYSR': 0, 'SOP4': 0, 'RVSZ': 0, 'PYUQ': 0, 'LJR9': 0, 'N2MW': 0, 'AHXO': 0, 'BSTQ': 0, 'FM3X': 0, 'K6QO': 0, 'QBOL': 0, 'JWFN': 0, 'JZ9D': 0, 'J9JW': 0, 'GHYX': 0, 'ECY3': 0}

In [28]:
#Drop the one record with a missing join date from the Test Data
train_data.dropna(inplace = True)
print(NACount(train_data))

{'ID': 0, 'join_date': 0, 'sex': 0, 'marital_status': 0, 'birth_year': 0, 'branch_code': 0, 'occupation_code': 0, 'occupation_category_code': 0, 'P5DA': 0, 'RIBP': 0, '8NN1': 0, '7POT': 0, '66FJ': 0, 'GYSR': 0, 'SOP4': 0, 'RVSZ': 0, 'PYUQ': 0, 'LJR9': 0, 'N2MW': 0, 'AHXO': 0, 'BSTQ': 0, 'FM3X': 0, 'K6QO': 0, 'QBOL': 0, 'JWFN': 0, 'JZ9D': 0, 'J9JW': 0, 'GHYX': 0, 'ECY3': 0}

In [29]:
#Replacing little f with big F
train_data.marital_status.replace(["f"], ["F"], inplace = True)